html 
    head 
        title %title
        style
            #{styles.skel}
            #{styles.dark}
        script(type="text/javascript").
%darkScript

    body 
        #mainContentBacking 
            #navbar
                #innerNavbar
                    a.navbarLinks#homeButton(href="/user/" + user.fileName)= user.name + "'s Page" 
                    a.navbarLinks#contactButton(href="/user/" + user.fileName + "/profile/contact")= "Contact" 
                    a.navbarLinks#othersButton(href="/user/" + user.fileName + "/profile/others")= "Other Singles" 
